<div class="book">
    <figure>
        {{- $cover := (.Page.Resources.Get (.Get "cover")).Resize "240x" -}}
        <img src="{{ $cover.RelPermalink }}" alt="Book cover">
    </figure>

    <dl>
        <dt>Title</dt>
        <dd><strong>{{ .Get "title" }}</strong></dd>
        {{ with .Get "subtitle" }}
        <dd>{{ . }}</dd>
        {{ end }}
        <dt>Author</dt>
        <dd>{{ .Get "author" }}</dd>
        {{ with .Get "translator" }}
            <dt>Translator</dt>
            <dd>{{ . }}</dd>
        {{ end }}
        <dt>Format</dt>
        <dd>{{ .Get "format" }}</dd>
    </dl>
</div>