.idea
**/.DS_Store
# Local Netlify folder
.netlify
node_modules/

# hugo
.hugo_build.lock
hugo/resources
public/
resources/

# search index serialized files
netlify/functions/sitesearch/search-index/
netlify/functions/sitesearch/documents.json
