.home-links {
	text-align: center;
	margin-top: 3em;
	font-family: var(--mono-font);

	a {
		&, &:visited {
			color: #999;
			text-decoration: none;
		}
		
		&:hover {
			text-decoration: underline;
		}
	}
}