{{- $images := .Resources.ByType "image" -}}
{{- 
	$summarize := or
        (.Truncated)
        (isset .Params "summary")
        (gt (len $images) 0)
        (eq (.Param "archive") "listapp")
-}} 

{{- if eq (.Param "archive") "listapp" -}}
	{{ partial "post-preview/listapp-summary" . }}
{{- else if eq .Page.Section "wordplay" -}}
	(A wordplay post. <a class="more" href="{{.Permalink}}">View…</a>)
{{- else -}}
	{{ .Summary | markdownify }}
	<a class="more" href="{{.Permalink}}">Read more…</a>
{{- end -}}


