main {
	ol.steps {
		li > p:first-child {
			margin-bottom: 0;
		
			& + p {
				margin-top: 0;
			}
		}
	}
	
	aside.qna {
		p:first-child {
			margin-top: 0;
			font-weight: bold;
		}
	}
	
	span.editors-note, p.editors-note {
		font-style: italic;
		
		em {
			font-style: normal;
		}
	}
	
	a.tag {
		display: inline-block;
		background: var(--tag-bg-color);
		padding: 2px 6px;
		text-decoration: none;
		font-size: smaller;

		&:hover {
			text-decoration: underline;
		}
	}

	div.poem {
		p {
			white-space: pre-wrap;
		}
	}
}