main {
	ol.steps {
		li > p:first-child {
			margin-bottom: 0;
		
			& + p {
				margin-top: 0;
			}
		}
	}
	
	aside.qna {
		p:first-child {
			margin-top: 0;
			font-weight: bold;
		}
	}
	
	span.editors-note, p.editors-note {
		font-style: italic;
		
		em {
			font-style: normal;
		}
	}
	
	a.tag {
		display: inline-block;
		background: var(--tag-bg-color);
		padding: 2px 6px;
		text-decoration: none;
		font-size: smaller;

		&:hover {
			text-decoration: underline;
		}
	}

	.pill {
		font-family: var(--mono-font);
		display: inline-block;
		background: var(--tag-bg-color);
		color: var(--deemphasized-text-color);
		padding: 0px 10px;
		text-decoration: none;
		font-size: smaller;
		border-radius: 6px;
	}

	div.poem {
		div.stanza {
			margin: 1em 0;
		}

		p {
			margin: 0 0 0 calc(var(--indent) * 1ch + 1em);
			text-indent: -1em;
		}
	}
}