figure.interactive form {
  display: block;
  text-align: center;
  margin-bottom: 1em;
  font-size: large;
}

ol.universe {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  counter-reset: universe;
}

ol.universe li {
  text-align: center;
  counter-increment: universe;
}

ol.universe li div {
  margin-top: -5px;
  width: 50px;
  height: 50px;
  background-image: url("interactive/empty.png");
  background-size: 50px 50px;
  overflow: hidden;
}

ol.universe li div::after {
  content: "";
  display: block;
  width: 50px;
  height: 0;
  background-image: url("interactive/full.png");
  background-size: 50px 50px;
}

ol.universe li[data-full="true"] div::after {
  height: 50px;
  transition: height 0.2s linear;
}

ol.universe li::before {
  content: counter(universe, upper-latin);
  color: #777;
  font-size: smaller;
}

ol.steps {
  padding: 0;
  margin: 1em -12px 0 -12px;
  border-top: 1px solid #ddd;
}

ol.steps li {
  font-family: var(--mono-font);
  list-style-position: inside;
  margin: 0;
  padding: 2px 24px;
  border-bottom: 1px solid #f9f9f9;
}

ol.steps li.current {
  background: #eee;
}

#simple-encoding {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#simple-encoding .ex p {
  text-align: center;
  margin-top: 0;
}