main {
	a.call-to-action {
		display: block;
		font-size: x-large;
		text-align: center;
		font-family: var(--mono-font);
		
		&:before, &:after {
			display: inline-block;
			padding: 0 0.5ch;
			text-decoration: none;
			color: var(--main-text-color);
		}

		&:before {
			content: "↣";
		}

		&:after {
			content: "↢";
		}

	}
}