    <nav>    	
        <!-- capture stuff before we change scope -->
        {{- $x := . -}}
        {{- $page := .Page -}}
        {{- $menus := .Site.Menus -}}
        {{ range $menuName := .Site.Params.navMenus }}
        	{{- if ne $menuName "Main" -}}
			<h2>{{ $menuName }}</h2>
			{{- end -}}
			<menu>
			{{ range (index $menus $menuName) }}
				{{- $menuTitle := or .Page.Params.menuTitle .Page.Title -}}
				{{ if or ($x.HasMenuCurrent $menuName .) ($x.IsMenuCurrent $menuName .) }}
				<li>{{ $menuTitle }}</li>
				{{ else }}
				<li><a href="{{ .URL }}">{{ $menuTitle }}</a></li>
				{{ end }}
			{{ end }}
			</menu>
		{{ end }}
    </nav>