<div class="heading">
	<hgroup>
		{{ with .Title }}
			<h1>{{ . }}</h1>
		{{ else }}
			<h1>FaceBook Post</h1>
		{{ end }}

		{{ if ne .Params.Menu "About" }}
			<div class="byline">
				<address><a rel="author" href="/me">Geoff Coffey</a></address>
				/
				<time datetime="{{ .Date }}">{{ time.Format "2 January 2006" .Date }}</time>
				{{ partial "tags"  . }}
			</div>
		{{ end }}

		{{ if not (eq .Parent.RelPermalink "/") }}
		{{ partial "breadcrumbs.html" .Parent }}
		{{ end }}
	</hgroup>

	{{ partial "post-preview/page-icon.html" . }}
</div>
