{{ define "main" }}

{{- $pages := .Site.RegularPages -}}
{{- $pages := where $pages ".Params.weblog" "!=" false -}}
{{- $paginator := .Paginate $pages -}}

{{ if eq $paginator.PageNumber 1 }}
<hgroup>
	<h1>{{ .Title }}</h1>
</hgroup>
{{ else }}
<hgroup>
	<h1>
		{{ .Title }}
		<small>(Page {{ $paginator.PageNumber }})</small>
	</h1>
	<p class="crumb"><a href="../../">{{ $paginator.First.URL }}</a></p>
</hgroup>
{{ end }}


{{ .Content }}

{{ range $paginator.Pages }}
{{ partial "post-preview/post-preview.html" . }}
{{ end }}

{{ partial "pagination-links.html" . }}

{{ end }}

